
.spacer {
  flex: 1;
}
.toolbar_nav_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_nav_items li {
  padding: 0 .5rem;
}
.toolbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.toolbar_nav_items a {
  color: white;
  text-decoration: none;
}

.toolbar_nav_items a:hover,
.toolbar_nav_items a:active {
  color: orange;  
}

.toolbar_nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.toolbar {
  position: fixed;
  width: 100%;
  background: #800080;
  height: 50px;
  top: 0;
}
.signIn {
  margin: 5rem 0;
}
#navigation {
  text-align: center;
}
button.hide {
  display: none;
}
#map-background {
  background-image: url(galaxy.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}
.btn {
  display: inline-block;
  background: #ff5722;
  color: #fff;
  font-family: sans-serif;
  font-size: inherit;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0.5rem;
  border-radius: 0.1875rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: #e64a19;
}



